/* Reset default margin and padding for all elements */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
 
/* Container that holds everything in the center */
.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
}

/* Logo styling */
.logo img {
    width: 250%;
    max-width: 200px;
    display: block;
    margin: 40px auto 20px;
    min-width: 100px;
}

/* Custom search input styling */
.gcse-search input {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 24px;
    border: 1px solid #ffae00;
    height: 44px;
    width: 100%;
    max-width: 560px;
    padding-left: 16px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

/* Focus effect for the search input */
.gcse-search input:focus {
    outline: none;
    border-color: #fab700;

}
footer {
    background-color:#D5006E ;
    color: #fff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #f8f9fa;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
aside {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    font-size: 0.990rem;
    font-weight: bold;
    color: #D5006E;
}

aside:hover {
    color: #c3b7da;

